body {
    max-width: 80%;
    margin: auto;
}
main{
    margin-top: 60px;
    background: #D3D3D3;
    border-radius: 30px;
    float: left;
     width: 75%; 
}
aside {
    margin-top: 160px; 
    max-width: 25%;
    float: right;
        
}
#nav_bar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}
nav, nav a {
    background: #673174;
    font-family: Consolas, "Courier New", monospace;
    border-radius: 30px;
    line-height: 1.6;
    color: white !important;
    font-size: 10px;
    text-decoration: none;
}

nav a {
    padding: 5px 15px;
    display: inline-block;
}
header {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 42px;
    color: #673174;
    
}


footer, footer p, footer address, footer a, footer time {
    font-size: 10px !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul{
    font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
}





