body {


}

header {
font-family: Helvetica, sans-serif;

}

h1 {
    color: #673174;

}

nav {
    background: #673174;
    font-family: Consolas, "Courier New", monospace;
    border-radius: 12px;
}

section{


}

footer {


}








